<launch>
  <arg name="robot_name1" default="p3dx"/>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find p3dx_control)/config/pioneer3dx.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="$(arg robot_name1)_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/$(arg robot_name1)" args=" joint1_position_controller joint2_position_controller joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="$(arg robot_name1)_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/$(arg robot_name1)/joint_states" />
  </node>

</launch>
